.form-container-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.row-1 {
    padding: 50px;
    background: transparent;
    border: .5px solid gray;
    backdrop-filter: blur(5px);
    width: 50%;
}

.form-container-1 h2 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}